@model RentACar.WebAplikacija.ViewModels.HomeIndexVM
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_LayoutTemplate";
}

@section Scripts
{ 

 <script src="/metronic/themes/metronic/theme/default/demo12/dist/assets/js/pages/components/extended/sweetalert2.js" type="text/javascript" aria-hidden="true"></script>

    @if (TempData["poruka"] != null)
    {
        <script>
            window.addEventListener("load", function () {
                swal.fire("Poruka","@TempData["poruka"]");
            });
        </script>
    }

    <script src="/metronic/themes/metronic/theme/default/demo12/dist/assets/js/pages/dashboard.js" type="text/javascript"></script>
}


    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader" bis_skin_checked="1">
        <div class="kt-container  kt-container--fluid " bis_skin_checked="1">
            <div class="kt-subheader__main" bis_skin_checked="1">
                <h3 class="kt-subheader__title">

                    Dashboard
                </h3>

                <span class="kt-subheader__separator kt-hidden"></span>

            </div>

        </div>
    </div>
    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" bis_skin_checked="1">
        <!--Begin::Dashboard 1-->
        <!--Begin::Row-->
        <div class="row" bis_skin_checked="1">
            <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1" bis_skin_checked="1">
                <!--begin:: Widgets/Activity-->
                <div class="kt-portlet kt-portlet--fit kt-portlet--head-lg kt-portlet--head-overlay kt-portlet--skin-solid kt-portlet--height-fluid" bis_skin_checked="1">
                    <div class="kt-portlet__head kt-portlet__head--noborder kt-portlet__space-x" bis_skin_checked="1">
                        <div class="kt-portlet__head-label" bis_skin_checked="1">
                            <h3 class="kt-portlet__head-title">
                                Osnovne informacije
                            </h3>
                        </div>

                    </div>
                    <div class="kt-portlet__body kt-portlet__body--fit" bis_skin_checked="1">
                        <div class="kt-widget17" bis_skin_checked="1" style="height:600px;">
                            <div class="kt-widget17__visual kt-widget17__visual--chart kt-portlet-fit--top kt-portlet-fit--sides" style="background-color: #fd397a" bis_skin_checked="1">
                                <div style="height:170px;" bis_skin_checked="1"></div>
                            </div>
                            <div class="kt-widget17__stats" bis_skin_checked="1">
                                <div class="kt-widget17__items" bis_skin_checked="1">
                                    <div class="kt-widget17__item" bis_skin_checked="1">
                                        <span class="kt-widget17__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 496.63 496.63" style="enable-background:new 0 0 496.63 496.63;" xml:space="preserve" width="512px" height="512px" class="">
                                                <g>
                                                    <g>
                                                        <path style="fill:#6F6F6F" d="M6.605,378.629v32.784c0,9.666,7.835,17.501,17.501,17.501h43.241   c9.666,0,17.501-7.835,17.501-17.501v-32.784L6.605,378.629L6.605,378.629z" data-original="#6F6F6F" class="" />
                                                        <path style="fill:#6F6F6F" d="M411.767,378.629v32.784c0,9.666,7.835,17.501,17.501,17.501h43.256   c9.666,0,17.501-7.835,17.501-17.501v-32.784L411.767,378.629L411.767,378.629z" data-original="#6F6F6F" class="" />
                                                        <path style="fill:#6F6F6F" d="M490.274,141.635c-0.248-0.171-14.646-3.227-14.957-3.289c-10.659-2.281-21.457,3.243-25.848,13.219   l-3.165,7.184h-10.907l7.478,14.041l41.022-4.934C497.116,166.258,501.367,149.005,490.274,141.635z" data-original="#6F6F6F" class="" />
                                                    </g>
                                                    <path style="fill:#454545" d="M490.026,240.094v138.457H6.558V240.094c0-19.254,23.102-32.908,23.102-32.908  c3.15-21.008,23.102-32.551,23.102-32.551l40.603-76.148c19.968-36.057,54.8-30.456,54.8-30.456h200.254  c0,0,35.002-5.601,54.97,30.456l40.432,76.148c0,0,19.952,11.559,23.102,32.551C466.924,207.187,490.026,220.84,490.026,240.094z" data-original="#454545" class="" data-old_color="#454545" />
                                                    <path style="fill:#168DE2" d="M436.762,177.677c-13.343-24.111-26.702-49.105-40.076-74.736  c-9.976-18.385-26.236-29.06-48.268-27.229c-214.652-0.078-205.467-0.326-205.467-0.326c-10.457-0.031-29.96,3.77-42.822,27.462  c-13.452,25.678-26.888,50.704-40.308,74.83C185.277,187.544,311.307,187.544,436.762,177.677z" data-original="#168DE2" class="" />
                                                    <path style="fill:#6F6F6F" d="M354.206,276.865L341.08,333.93c-2.808,12.086-13.653,20.651-26.081,20.651H181.6  c-12.428,0-23.273-8.58-26.081-20.651l-13.126-57.065c-4.717-20.651,10.861-40.432,32.039-40.432h147.735  C343.345,236.417,359.093,256.199,354.206,276.865z" data-original="#6F6F6F" class="" />
                                                    <path style="fill:#CACACA" d="M135.504,239.598l-90.531-14.972c-12.133-2.001-23.676,6.656-24.638,18.913  c-0.031,0.295-0.047,0.59-0.062,0.884c-0.621,9.93,5.756,19.022,15.344,21.721c14.553,4.096,36.538,7.354,48.997-5.104l34.071,0.419  L135.504,239.598z" data-original="#CACACA" class="" />
                                                    <g>
                                                        <path style="fill:#6F6F6F" d="M125.823,329.446c-3.041-4.422-7.897-7.23-13.234-7.664l-71.82-5.772   c-14.383-1.164-18.897,9.775-20.418,22.823c-1.21,10.426,6.827,19.766,17.315,19.999l68.965,1.536   c6.765,0.155,9.961-2.731,15.143-6.594C129.454,348.064,131.222,337.312,125.823,329.446z" data-original="#6F6F6F" class="" />
                                                        <path style="fill:#6F6F6F" d="M50.326,158.748l-3.165-7.184c-4.406-9.976-15.189-15.5-25.848-13.234   c-0.31,0.062-14.708,3.134-14.957,3.305c-11.093,7.385-6.842,24.623,6.377,26.221l41.022,4.934l7.478-14.041L50.326,158.748   L50.326,158.748z" data-original="#6F6F6F" class="" />
                                                    </g>
                                                    <rect x="179.118" y="291.217" style="fill:#FFFFFF" width="138.287" height="29.401" data-original="#FFFFFF" class="" />
                                                    <circle style="fill:#E95353" cx="43.841" cy="245.183" r="14.864" data-original="#E95353" />
                                                    <path style="fill:#CACACA" d="M361.126,239.598l90.531-14.972c12.133-2.001,23.676,6.656,24.638,18.913  c0.016,0.295,0.047,0.59,0.062,0.884c0.621,9.93-5.756,19.022-15.344,21.721c-14.553,4.096-36.538,7.354-48.997-5.104l-34.071,0.419  L361.126,239.598z" data-original="#CACACA" class="" />
                                                    <path style="fill:#6F6F6F" d="M455.861,316.01l-71.82,5.772c-5.337,0.434-10.209,3.243-13.234,7.664  c-5.756,8.394-4.686,17.827,8.161,27.4c3.181,2.374,7.059,3.615,11.031,3.522l68.965-1.536c10.488-0.233,18.525-9.573,17.315-19.999  C474.774,325.784,470.244,314.846,455.861,316.01z" data-original="#6F6F6F" class="" />
                                                    <circle style="fill:#E95353" cx="452.789" cy="245.183" r="14.864" data-original="#E95353" />
                                                    <g>
                                                        <path style="fill:#FFFFFF" d="M280.695,242.065c-9.914,0-17.982,8.068-17.982,17.982c0,9.914,8.068,17.998,17.982,17.998   s17.982-8.068,17.982-17.998C298.677,250.117,290.609,242.065,280.695,242.065z M280.695,274.336   c-7.882,0-14.289-6.408-14.289-14.305c0-7.882,6.408-14.289,14.289-14.289c7.882,0,14.289,6.408,14.289,14.289   C294.985,267.928,288.577,274.336,280.695,274.336z" data-original="#FFFFFF" class="" />
                                                        <path style="fill:#FFFFFF" d="M259.114,242.065c-9.914,0-17.982,8.068-17.982,17.982c0,9.914,8.068,17.998,17.982,17.998   c9.914,0,17.982-8.068,17.982-17.998C277.096,250.117,269.028,242.065,259.114,242.065z M259.114,274.336   c-7.882,0-14.289-6.408-14.289-14.305c0-7.882,6.408-14.289,14.289-14.289s14.289,6.408,14.289,14.289   C273.403,267.928,266.995,274.336,259.114,274.336z" data-original="#FFFFFF" class="" />
                                                        <path style="fill:#FFFFFF" d="M237.532,242.065c-9.914,0-17.982,8.068-17.982,17.982c0,9.914,8.068,17.998,17.982,17.998   c9.914,0,17.982-8.068,17.982-17.998C255.514,250.117,247.446,242.065,237.532,242.065z M237.532,274.336   c-7.882,0-14.289-6.408-14.289-14.305c0-7.882,6.408-14.289,14.289-14.289c7.882,0,14.289,6.408,14.289,14.289   C251.822,267.928,245.414,274.336,237.532,274.336z" data-original="#FFFFFF" class="" />
                                                        <path style="fill:#FFFFFF" d="M215.95,242.065c-9.914,0-17.982,8.068-17.982,17.982c0,9.914,8.068,17.998,17.982,17.998   c9.914,0,17.982-8.068,17.982-17.998C233.933,250.117,225.865,242.065,215.95,242.065z M215.95,274.336   c-7.882,0-14.289-6.408-14.289-14.305c0-7.882,6.408-14.289,14.289-14.289c7.882,0,14.289,6.408,14.289,14.289   C230.24,267.928,223.832,274.336,215.95,274.336z" data-original="#FFFFFF" class="" />
                                                    </g>
                                                    <path style="fill:#209AE5" d="M263.023,127.951V93.693c0-5.477,4.53-10.007,10.147-10.007h0.822  c5.477-0.419,10.147,4.112,10.147,9.449v33.513c0,6.578,4.794,12.335,11.233,12.738c6.997,0.279,12.738-5.198,12.738-12.055v-24.979  c0-5.477,4.53-10.007,10.007-10.007h0.822c5.896,0,10.69,4.794,10.69,10.55v19.239c0,6.439,4.934,12.335,11.373,12.614  c6.858,0.403,12.738-5.073,12.738-11.916v-22.125c0-5.756,4.794-10.147,10.55-10.007c0.14,0,0.14,0,0.14,0c0.14,0,0.14,0,0.279,0  c5.756-0.14,10.55,4.251,10.55,10.007v24.436c0,6.578,4.934,12.335,11.373,12.738c6.997,0.279,12.614-5.213,12.614-12.055V107.75  c-0.853-1.614-1.691-3.181-2.544-4.81c-9.976-18.385-26.236-29.06-48.268-27.229c-214.668-0.078-205.483-0.326-205.483-0.326  c-10.457-0.031-29.96,3.77-42.822,27.462c-0.931,1.753-1.846,3.444-2.777,5.213v14.072c0,6.439,4.934,12.335,11.512,12.614  c6.858,0.403,12.614-5.073,12.614-11.916v-22.125c0-5.756,4.794-10.147,10.69-10.007c0,0,0,0,0.14,0c0,0,0,0,0.14,0  c5.741-0.14,10.674,4.251,10.674,10.007v24.436c0,6.578,4.794,12.335,11.233,12.738c6.873,0.264,12.49-5.042,12.676-11.745V93.507  c0-6.858,5.71-12.335,12.645-12.024c6.47,0.388,11.326,6.175,11.326,12.645v31.17c0.186,6.284,4.996,11.838,11.311,12.241  c6.982,0.279,12.614-5.213,12.614-12.055l0.14-26.562c0-6.858,5.616-12.335,12.614-12.055c6.439,0.403,11.373,6.175,11.373,12.738  v28.75c0.14,6.439,5.477,11.652,11.916,11.652C257.686,140.006,263.023,134.529,263.023,127.951z" data-original="#209AE5" class="active-path" data-old_color="#209AE5" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="kt-widget17__subtitle">
                                            Broj vozila
                                        </span>
                                        <span class="kt-widget17__desc">
                                            @Model.BrojVozila
                                        </span>
                                    </div>

                                    <div class="kt-widget17__item" bis_skin_checked="1">
                                        <span class="kt-widget17__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="511pt" viewBox="-1 1 511 511.99898" width="511pt">
                                                <path d="m406.726562 203.613281h-62.820312c-11.402344 0-20.644531-9.246093-20.644531-20.648437v-150.605469c0-16.542969 13.410156-29.953125 29.953125-29.953125h44.207031c16.539063 0 29.953125 13.410156 29.953125 29.953125v150.605469c0 11.402344-9.246094 20.648437-20.648438 20.648437zm0 0" fill="#3c88d1" />
                                                <path d="m164.925781 273.957031h-62.578125c-11.46875 0-20.769531-9.296875-20.769531-20.765625v-150.308594c0-16.640624 13.492187-30.132812 30.132813-30.132812h43.851562c16.640625 0 30.128906 13.492188 30.128906 30.132812v150.308594c0 11.46875-9.296875 20.765625-20.765625 20.765625zm0 0" fill="#f04424" />
                                                <path d="m406.605469 439.722656h-62.578125c-11.46875 0-20.765625-9.296875-20.765625-20.765625v-150.308593c0-16.640626 13.488281-30.128907 30.128906-30.128907h43.851563c16.640624 0 30.132812 13.488281 30.132812 30.128907v150.308593c0 11.46875-9.300781 20.765625-20.769531 20.765625zm0 0" fill="#8c808a" />
                                                <path d="m164.925781 510.070312h-62.578125c-11.46875 0-20.769531-9.296874-20.769531-20.765624v-150.308594c0-16.640625 13.492187-30.128906 30.132813-30.128906h43.851562c16.640625 0 30.128906 13.488281 30.128906 30.128906v150.308594c0 11.46875-9.296875 20.765624-20.765625 20.765624zm0 0" fill="#fbc700" />
                                                <path d="m183.878906 92.570312c-4.128906-11.34375-14.886718-19.496093-27.585937-19.800781-1.480469 2.527344-2.34375 5.460938-2.34375 8.605469 0 9.425781 7.644531 17.066406 17.070312 17.066406 5.136719 0 9.730469-2.28125 12.859375-5.871094zm0 0" fill="#e8e8ed" />
                                                <path d="m183.820312 328.527344c-4.1875-11.300782-14.960937-19.398438-27.660156-19.648438-1.402344 2.480469-2.210937 5.335938-2.210937 8.386719 0 9.425781 7.640625 17.070313 17.066406 17.070313 5.109375 0 9.675781-2.253907 12.804687-5.808594zm0 0" fill="#e8e8ed" />
                                                <path d="m425.398438 21.800781c-4.285157-11.226562-15.082032-19.226562-27.773438-19.386719-1.269531 2.390626-1.996094 5.109376-1.996094 8.003907 0 9.425781 7.644532 17.070312 17.070313 17.070312 5.046875 0 9.570312-2.207031 12.699219-5.6875zm0 0" fill="#e8e8ed" />
                                                <path d="m425.195312 257.40625c-4.449218-11.058594-15.265624-18.871094-27.914062-18.886719-1.046875 2.214844-1.652344 4.679688-1.652344 7.289063 0 9.425781 7.644532 17.070312 17.070313 17.070312 4.941406-.003906 9.378906-2.117187 12.496093-5.472656zm0 0" fill="#e8e8ed" />
                                                <path d="m441.933594 82.886719h-27.179688v-20.585938h27.179688c4.113281 0 7.445312 3.332031 7.445312 7.445313v5.695312c0 4.113282-3.332031 7.445313-7.445312 7.445313zm0 0" fill="#3c88d1" />
                                                <path d="m336.269531 82.886719h-27.179687c-4.109375 0-7.445313-3.332031-7.445313-7.445313v-5.695312c0-4.113282 3.335938-7.445313 7.445313-7.445313h27.179687zm0 0" fill="#3c88d1" />
                                                <path d="m397.242188 2.40625h-7.464844c5.101562 5.398438 8.234375 12.671875 8.234375 20.683594v150.308594c0 11.46875-9.300781 20.765624-20.769531 20.765624h-50.609376c3.703126 5.683594 10.105469 9.449219 17.398438 9.449219h62.574219c11.46875 0 20.765625-9.300781 20.765625-20.769531v-150.308594c.003906-16.640625-13.488282-30.128906-30.128906-30.128906zm0 0" fill="#0078c9" />
                                                <path d="m200.207031 153.234375h-27.136719v-20.589844h27.136719c4.136719 0 7.492188 3.355469 7.492188 7.492188v5.609375c-.003907 4.132812-3.355469 7.488281-7.492188 7.488281zm0 0" fill="#8c808a" />
                                                <path d="m406.515625 96.753906h-62.398437c-1.128907 0-2.042969-.914062-2.042969-2.042968v-30.195313c0-7.390625 5.996093-13.386719 13.386719-13.386719h39.710937c7.394531 0 13.386719 5.996094 13.386719 13.386719v30.195313c0 1.128906-.914063 2.042968-2.042969 2.042968zm0 0" fill="#b4dbff" />
                                                <path d="m395.171875 51.128906h-15.367187c7.390624 0 13.386718 5.996094 13.386718 13.386719v30.195313c0 1.128906-.914062 2.042968-2.042968 2.042968h15.367187c1.128906 0 2.042969-.914062 2.042969-2.042968v-30.195313c0-7.390625-5.992188-13.386719-13.386719-13.386719zm0 0" fill="#8bcaff" />
                                                <path d="m391.773438 175.460938h-32.914063c-9.269531 0-16.785156-7.515626-16.785156-16.785157v-7.242187c0-1.128906.914062-2.042969 2.042969-2.042969h62.398437c1.128906 0 2.042969.914063 2.042969 2.042969v7.242187c0 9.269531-7.515625 16.785157-16.785156 16.785157zm0 0" fill="#b4dbff" />
                                                <path d="m406.515625 149.390625h-10.90625v.859375c0 9.269531-7.515625 16.785156-16.785156 16.785156h-32.914063c-.550781 0-1.101562-.027344-1.640625-.082031 2.886719 5.078125 8.332031 8.507813 14.59375 8.507813h32.910157c9.269531 0 16.785156-7.515626 16.785156-16.785157v-7.242187c0-1.128906-.914063-2.042969-2.042969-2.042969zm0 0" fill="#8bcaff" />
                                                <path d="m441.890625 319h-27.136719v-20.585938h27.136719c4.136719 0 7.488281 3.351563 7.488281 7.488282v5.609375c0 4.136719-3.351562 7.488281-7.488281 7.488281zm0 0" fill="#8c808a" />
                                                <path d="m336.269531 319h-27.136719c-4.136718 0-7.488281-3.351562-7.488281-7.488281v-5.609375c0-4.136719 3.351563-7.488282 7.488281-7.488282h27.136719zm0 0" fill="#8c808a" />
                                                <path d="m397.242188 238.519531h-7.464844c5.101562 5.394531 8.234375 12.671875 8.234375 20.679688v150.308593c0 11.472657-9.300781 20.769532-20.769531 20.769532h-50.609376c3.703126 5.683594 10.105469 9.445312 17.398438 9.445312h62.574219c11.46875 0 20.765625-9.296875 20.765625-20.765625v-150.308593c.003906-16.640626-13.488282-30.128907-30.128906-30.128907zm0 0" fill="#7a6d79" />
                                                <path d="m441.890625 319h-27.136719v-20.585938h27.136719c4.136719 0 7.488281 3.351563 7.488281 7.488282v5.609375c0 4.136719-3.351562 7.488281-7.488281 7.488281zm0 0" fill="#7a6d79" />
                                                <path d="m155.5625 72.75h-7.464844c5.097656 5.398438 8.230469 12.671875 8.230469 20.683594v150.308594c0 11.46875-9.296875 20.765624-20.765625 20.765624h-50.613281c3.707031 5.683594 10.105469 9.449219 17.398437 9.449219h62.578125c11.46875 0 20.765625-9.296875 20.765625-20.765625v-150.308594c0-16.640624-13.488281-30.132812-30.128906-30.132812zm0 0" fill="#bc3720" />
                                                <path d="m200.207031 153.234375h-27.136719v-20.589844h27.136719c4.136719 0 7.492188 3.355469 7.492188 7.492188v5.609375c-.003907 4.132812-3.355469 7.488281-7.492188 7.488281zm0 0" fill="#bc3720" />
                                                <path d="m200.207031 389.347656h-27.136719v-20.589844h27.136719c4.136719 0 7.492188 3.355469 7.492188 7.492188v5.609375c-.003907 4.136719-3.355469 7.488281-7.492188 7.488281zm0 0" fill="#fbc700" />
                                                <path d="m155.5625 308.867188h-7.464844c5.097656 5.394531 8.230469 12.671874 8.230469 20.679687v150.308594c0 11.46875-9.296875 20.765625-20.765625 20.765625h-50.613281c3.707031 5.683594 10.105469 9.449218 17.398437 9.449218h62.578125c11.46875 0 20.765625-9.296874 20.765625-20.765624v-150.308594c0-16.640625-13.488281-30.128906-30.128906-30.128906zm0 0" fill="#e9b900" />
                                                <path d="m164.835938 403.210938h-62.398438c-1.128906 0-2.042969-.914063-2.042969-2.042969v-30.191407c0-7.394531 5.992188-13.386718 13.386719-13.386718h39.710938c7.390624 0 13.382812 5.992187 13.382812 13.386718v30.191407c0 1.128906-.910156 2.042969-2.039062 2.042969zm0 0" fill="#d9edff" />
                                                <path d="m153.492188 357.589844h-15.371094c7.394531 0 13.386718 5.992187 13.386718 13.386718v30.191407c0 1.128906-.914062 2.042969-2.042968 2.042969h15.371094c1.125 0 2.039062-.914063 2.039062-2.042969v-30.191407c0-7.394531-5.992188-13.386718-13.382812-13.386718zm0 0" fill="#b4dbff" />
                                                <path d="m150.09375 481.921875h-32.914062c-9.269532 0-16.785157-7.515625-16.785157-16.785156v-7.246094c0-1.125.914063-2.042969 2.042969-2.042969h62.398438c1.128906 0 2.042968.917969 2.042968 2.042969v7.246094c-.003906 9.269531-7.515625 16.785156-16.785156 16.785156zm0 0" fill="#d9edff" />
                                                <path d="m164.835938 455.851562h-10.90625v.859376c0 9.269531-7.515626 16.785156-16.789063 16.785156h-32.910156c-.554688 0-1.101563-.03125-1.644531-.082032 2.886718 5.074219 8.335937 8.507813 14.59375 8.507813h32.914062c9.269531 0 16.785156-7.515625 16.785156-16.785156v-7.246094c-.003906-1.125-.914062-2.039063-2.042968-2.039063zm0 0" fill="#b4dbff" />
                                                <path d="m94.589844 389.347656h-27.136719c-4.136719 0-7.488281-3.355468-7.488281-7.492187v-5.609375c0-4.132813 3.351562-7.488282 7.488281-7.488282h27.136719zm0 0" fill="#fbc700" />
                                                <path d="m164.835938 167.097656h-62.398438c-1.128906 0-2.042969-.914062-2.042969-2.042968v-30.191407c0-7.394531 5.992188-13.386719 13.386719-13.386719h39.710938c7.390624 0 13.382812 5.992188 13.382812 13.386719v30.191407c0 1.128906-.910156 2.042968-2.039062 2.042968zm0 0" fill="#b4dbff" />
                                                <path d="m153.492188 121.476562h-15.371094c7.394531 0 13.386718 5.992188 13.386718 13.386719v30.191407c0 1.128906-.914062 2.042968-2.042968 2.042968h15.371094c1.125 0 2.039062-.914062 2.039062-2.042968v-30.191407c0-7.394531-5.992188-13.386719-13.382812-13.386719zm0 0" fill="#8bcaff" />
                                                <path d="m150.09375 245.808594h-32.914062c-9.269532 0-16.785157-7.515625-16.785157-16.789063v-7.242187c0-1.125.914063-2.042969 2.042969-2.042969h62.398438c1.128906 0 2.042968.917969 2.042968 2.042969v7.242187c-.003906 9.273438-7.515625 16.789063-16.785156 16.789063zm0 0" fill="#b4dbff" />
                                                <path d="m164.835938 219.738281h-10.90625v.859375c0 9.269532-7.515626 16.785156-16.789063 16.785156h-32.910156c-.554688 0-1.101563-.03125-1.644531-.085937 2.886718 5.078125 8.335937 8.511719 14.59375 8.511719h32.914062c9.269531 0 16.785156-7.515625 16.785156-16.789063v-7.242187c-.003906-1.125-.914062-2.039063-2.042968-2.039063zm0 0" fill="#8bcaff" />
                                                <path d="m94.589844 153.234375h-27.136719c-4.136719 0-7.488281-3.355469-7.488281-7.492187v-5.609376c0-4.136718 3.351562-7.488281 7.488281-7.488281h27.136719zm0 0" fill="#f04424" />
                                                <path d="m406.515625 332.867188h-62.398437c-1.128907 0-2.042969-.917969-2.042969-2.042969v-30.195313c0-7.390625 5.996093-13.386718 13.386719-13.386718h39.710937c7.394531 0 13.386719 5.996093 13.386719 13.386718v30.195313c0 1.128906-.914063 2.042969-2.042969 2.042969zm0 0" fill="#b4dbff" />
                                                <path d="m395.171875 287.242188h-15.367187c7.390624 0 13.386718 5.996093 13.386718 13.386718v30.195313c0 1.125-.914062 2.042969-2.042968 2.042969h15.367187c1.128906 0 2.042969-.917969 2.042969-2.042969v-30.195313c0-7.390625-5.992188-13.386718-13.386719-13.386718zm0 0" fill="#8bcaff" />
                                                <path d="m391.773438 411.574219h-32.914063c-9.269531 0-16.785156-7.515625-16.785156-16.785157v-7.242187c0-1.128906.914062-2.042969 2.042969-2.042969h62.398437c1.128906 0 2.042969.914063 2.042969 2.042969v7.242187c0 9.269532-7.515625 16.785157-16.785156 16.785157zm0 0" fill="#b4dbff" />
                                                <path d="m406.515625 385.503906h-10.90625v.859375c0 9.269531-7.515625 16.785157-16.785156 16.785157h-32.914063c-.550781 0-1.101562-.03125-1.640625-.082032 2.886719 5.078125 8.332031 8.507813 14.59375 8.507813h32.910157c9.269531 0 16.785156-7.515625 16.785156-16.785157v-7.242187c0-1.128906-.914063-2.042969-2.042969-2.042969zm0 0" fill="#8bcaff" />
                                                <path d="m200.207031 389.347656h-27.136719v-20.589844h27.136719c4.136719 0 7.492188 3.355469 7.492188 7.492188v5.609375c-.003907 4.136719-3.355469 7.488281-7.492188 7.488281zm0 0" fill="#e9b900" />
                                                <path d="m482.300781 497.957031v-483.203125c0-7.757812 6.289063-14.042968 14.042969-14.042968 7.757812 0 14.042969 6.285156 14.042969 14.042968v483.203125c0 7.753907-6.285157 14.042969-14.042969 14.042969-7.753906 0-14.042969-6.289062-14.042969-14.042969zm0 0" fill="#ab9faa" />
                                                <path d="m496.347656.710938c-1.84375 0-3.601562.363281-5.214844 1.007812 5.171876 2.074219 8.832032 7.121094 8.832032 13.035156v483.203125c0 5.910157-3.660156 10.960938-8.832032 13.03125 1.613282.644531 3.371094 1.011719 5.214844 1.011719 7.753906 0 14.042969-6.289062 14.042969-14.042969v-483.203125c0-7.757812-6.289063-14.042968-14.042969-14.042968zm0 0" fill="#9c8f9a" />
                                                <path d="m.5 497.957031v-483.203125c0-7.757812 6.285156-14.042968 14.042969-14.042968 7.757812 0 14.042969 6.285156 14.042969 14.042968v483.203125c0 7.753907-6.285157 14.042969-14.042969 14.042969-7.757813 0-14.042969-6.289062-14.042969-14.042969zm0 0" fill="#ab9faa" />
                                                <path d="m14.542969.710938c-1.84375 0-3.597657.363281-5.210938 1.007812 5.171875 2.074219 8.828125 7.121094 8.828125 13.035156v483.203125c0 5.910157-3.65625 10.960938-8.828125 13.03125 1.613281.644531 3.367188 1.011719 5.210938 1.011719 7.757812 0 14.042969-6.289062 14.042969-14.042969v-483.203125c0-7.757812-6.285157-14.042968-14.042969-14.042968zm0 0" fill="#9c8f9a" />
                                                <path d="m115.515625 317.265625c0-3.054687-.8125-5.917969-2.222656-8.398437h-1.582031c-12.253907 0-22.789063 7.316406-27.496094 17.8125 3.054687 4.613281 8.285156 7.65625 14.230468 7.65625 9.429688 0 17.070313-7.640626 17.070313-17.070313zm0 0" fill="#e8e8ed" />
                                                <path d="m357.199219 10.417969c0-2.894531-.730469-5.621094-2-8.011719h-1.808594c-12.164063 0-22.632813 7.210938-27.394531 17.585938 3.070312 4.523437 8.253906 7.496093 14.132812 7.496093 9.425782 0 17.070313-7.644531 17.070313-17.070312zm0 0" fill="#e8e8ed" />
                                                <path d="m357.199219 245.808594c0-2.613282-.605469-5.078125-1.652344-7.289063h-2.15625c-11.984375 0-22.335937 7-27.1875 17.132813 3.089844 4.367187 8.171875 7.222656 13.925781 7.222656 9.425782 0 17.070313-7.640625 17.070313-17.066406zm0 0" fill="#e8e8ed" />
                                                <path d="m115.515625 81.375c0-3.152344-.867187-6.089844-2.355469-8.625h-1.449218c-12.300782 0-22.875 7.375-27.554688 17.941406 3.046875 4.664063 8.304688 7.75 14.289062 7.75 9.429688 0 17.070313-7.640625 17.070313-17.066406zm0 0" fill="#e8e8ed" />
                                                <path d="m183.878906 92.570312c-4.128906-11.34375-14.886718-19.496093-27.585937-19.800781-1.480469 2.527344-2.34375 5.460938-2.34375 8.605469 0 9.425781 7.644531 17.066406 17.070312 17.066406 5.136719 0 9.730469-2.28125 12.859375-5.871094zm0 0" fill="#d2d2dd" />
                                                <path d="m183.820312 328.527344c-4.1875-11.300782-14.960937-19.398438-27.660156-19.648438-1.402344 2.480469-2.210937 5.335938-2.210937 8.386719 0 9.425781 7.640625 17.070313 17.066406 17.070313 5.109375 0 9.675781-2.253907 12.804687-5.808594zm0 0" fill="#d2d2dd" />
                                                <path d="m425.398438 21.800781c-4.285157-11.226562-15.082032-19.226562-27.773438-19.386719-1.269531 2.390626-1.996094 5.109376-1.996094 8.003907 0 9.425781 7.644532 17.070312 17.070313 17.070312 5.046875 0 9.570312-2.207031 12.699219-5.6875zm0 0" fill="#d2d2dd" />
                                                <path d="m425.195312 257.40625c-4.449218-11.058594-15.265624-18.871094-27.914062-18.886719-1.046875 2.214844-1.652344 4.679688-1.652344 7.289063 0 9.425781 7.644532 17.070312 17.070313 17.070312 4.941406-.003906 9.378906-2.117187 12.496093-5.472656zm0 0" fill="#d2d2dd" />
                                                <g fill="#bbb0ba">
                                                    <path d="m254.925781 417.746094c-4.175781 0-7.5625-3.382813-7.5625-7.5625v-30.246094c0-4.175781 3.382813-7.5625 7.5625-7.5625 4.175781 0 7.5625 3.386719 7.5625 7.5625v30.246094c0 4.179687-3.386719 7.5625-7.5625 7.5625zm0 0" />
                                                    <path d="m254.925781 324.65625c-4.175781 0-7.5625-3.386719-7.5625-7.5625v-30.25c0-4.175781 3.382813-7.5625 7.5625-7.5625 4.175781 0 7.5625 3.386719 7.5625 7.5625v30.25c0 4.175781-3.386719 7.5625-7.5625 7.5625zm0 0" />
                                                    <path d="m254.925781 510.84375c-4.175781 0-7.5625-3.386719-7.5625-7.5625v-30.25c0-4.175781 3.382813-7.5625 7.5625-7.5625 4.175781 0 7.5625 3.386719 7.5625 7.5625v30.25c0 4.175781-3.386719 7.5625-7.5625 7.5625zm0 0" />
                                                    <path d="m254.925781 231.558594c-4.175781 0-7.5625-3.382813-7.5625-7.5625v-30.246094c0-4.175781 3.382813-7.5625 7.5625-7.5625 4.175781 0 7.5625 3.386719 7.5625 7.5625v30.246094c0 4.179687-3.386719 7.5625-7.5625 7.5625zm0 0" />
                                                    <path d="m254.925781 138.464844c-4.175781 0-7.5625-3.382813-7.5625-7.5625v-30.246094c0-4.175781 3.382813-7.5625 7.5625-7.5625 4.175781 0 7.5625 3.386719 7.5625 7.5625v30.246094c0 4.179687-3.386719 7.5625-7.5625 7.5625zm0 0" />
                                                    <path d="m254.925781 45.371094c-4.175781 0-7.5625-3.386719-7.5625-7.5625v-30.246094c0-4.175781 3.382813-7.5625 7.5625-7.5625 4.175781 0 7.5625 3.386719 7.5625 7.5625v30.246094c0 4.179687-3.386719 7.5625-7.5625 7.5625zm0 0" />
                                                </g>
                                                <path d="m441.890625 82.886719h-27.136719v-20.585938h27.136719c4.136719 0 7.488281 3.351563 7.488281 7.488281v5.609376c0 4.136718-3.351562 7.488281-7.488281 7.488281zm0 0" fill="#0078c9" />
                                            </svg>
                                        </span>
                                        <span class="kt-widget17__subtitle">
                                            Broj kategorija vozila
                                        </span>
                                        <span class="kt-widget17__desc">
                                            @Model.BrojKategorija
                                        </span>
                                    </div>
                                </div>
                                <div class="kt-widget17__items" bis_skin_checked="1">
                                    <div class="kt-widget17__item" bis_skin_checked="1">
                                        <span class="kt-widget17__icon">
                                           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                                <path style="fill:#28384C;" d="M423.682,512H282.441c-48.755,0-88.276-39.521-88.276-88.276V88.276  C194.165,39.521,233.686,0,282.441,0h141.241c48.755,0,88.276,39.521,88.276,88.276v335.448  C511.958,472.479,472.437,512,423.682,512z" />
                                                <g>
                                                    <circle style="fill:#AFB6BB;" cx="273.613" cy="79.448" r="35.31" />
                                                    <path style="fill:#AFB6BB;" d="M388.372,150.069h-70.621c-39,0-70.621,31.62-70.621,70.621V256h211.862v-35.31   C458.993,181.689,427.372,150.069,388.372,150.069z" />
                                                    <path style="fill:#AFB6BB;" d="M247.13,361.931v35.31c0,39,31.62,70.621,70.621,70.621h70.621c39,0,70.621-31.62,70.621-70.621   v-35.31H247.13z" />
                                                </g>
                                                <rect x="247.13" y="256" style="fill:#6C797A;" width="211.862" height="105.931" />
                                                <rect x="300.096" y="291.31" style="fill:#495656;" width="105.931" height="35.31" />
                                                <g>
                                                    <path style="fill:#6C797A;" d="M370.717,220.69h-35.31c-4.873,0-8.828-3.955-8.828-8.828v-17.655c0-4.873,3.955-8.828,8.828-8.828   h35.31c4.873,0,8.828,3.955,8.828,8.828v17.655C379.544,216.735,375.59,220.69,370.717,220.69z" />
                                                    <path style="fill:#6C797A;" d="M370.717,432.552h-35.31c-4.873,0-8.828-3.955-8.828-8.828v-17.655c0-4.873,3.955-8.828,8.828-8.828   h35.31c4.873,0,8.828,3.955,8.828,8.828v17.655C379.544,428.597,375.59,432.552,370.717,432.552z" />
                                                </g>
                                                <path style="fill:#E7ECED;" d="M194.165,113.832L2.306,450.472c-4.696,8.245-1.854,18.741,6.365,23.481l15.96,9.216  c8.298,4.785,18.9,1.907,23.631-6.426l145.902-256.989L194.165,113.832L194.165,113.832z" />
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                           </svg>
                                        </span>
                                        <span class="kt-widget17__subtitle">
                                            Broj rezervacija
                                        </span>
                                        <span class="kt-widget17__desc">
                                            @Model.BrojIznajmljivanja
                                        </span>
                                    </div>

                                    <div class="kt-widget17__item" bis_skin_checked="1">
                                        <span class="kt-widget17__icon">
                                           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                                <path style="fill:#F2F2F2;" d="M0,154.501v314.773c0,23.573,19.083,42.667,42.667,42.667h426.667  c23.563,0,42.667-19.093,42.667-42.667V154.501L0,154.501L0,154.501z" />
                                                <g>
                                                    <polygon style="fill:#40596B;" points="122.08,241.253 197.419,241.253 197.419,427.333 157.504,427.333 157.504,276.667    122.08,276.667  " />
                                                    <path style="fill:#40596B;" d="M312.96,429.467c-25.728,0-44.981-8.736-57.771-26.219c-12.768-17.483-19.168-40.821-19.168-70.016   c0-29.173,6.4-52.544,19.168-70.016c12.789-17.461,32.043-26.219,57.771-26.219c25.728,0,45.003,8.757,57.771,26.219   c12.789,17.483,19.168,40.843,19.168,70.016c0,29.195-6.379,52.544-19.168,70.016C357.963,420.72,338.688,429.467,312.96,429.467    M285.547,288.368c-5.856,11.349-8.789,26.357-8.789,44.992c0,18.613,2.933,33.632,8.789,44.992   c5.856,11.36,14.997,17.045,27.413,17.045c12.416,0,21.557-5.685,27.435-17.045c5.856-11.349,8.768-26.379,8.768-44.992   c0-18.635-2.912-33.632-8.768-44.992c-5.877-11.339-15.019-17.056-27.435-17.056S291.392,277.029,285.547,288.368" />
                                                </g>
                                                <path style="fill:#FF7058;" d="M469.333,30.416H42.667C19.104,30.416,0,49.52,0,73.083v81.483h512V73.083  C512,49.52,492.896,30.416,469.333,30.416" />
                                                <g>
                                                    <path style="fill:#FFFFFF;" d="M444.213,92.475c0,16.672-13.504,30.187-30.187,30.187c-16.672,0-30.165-13.515-30.165-30.187   s13.504-30.187,30.165-30.187C430.709,62.288,444.213,75.803,444.213,92.475" />
                                                    <path style="fill:#FFFFFF;" d="M128.171,92.475c0,16.672-13.525,30.187-30.187,30.187s-30.165-13.515-30.165-30.187   s13.504-30.187,30.165-30.187S128.171,75.803,128.171,92.475" />
                                                </g>
                                                <g>
                                                    <path style="fill:#40596B;" d="M414.336,0.059c-11.083,0-20.085,8.981-20.085,20.085l-0.309,65.109   c0,11.093,9.003,20.085,20.107,20.085c11.083,0,20.085-8.992,20.085-20.085l0.309-65.109C434.443,9.04,425.44,0.059,414.336,0.059" />
                                                    <path style="fill:#40596B;" d="M98.293,0.059L98.293,0.059c-11.083,0-20.085,8.981-20.085,20.085l-0.309,65.099   c0,11.093,9.003,20.085,20.085,20.085c11.104,0,20.085-8.992,20.085-20.085l0.309-65.109C118.379,9.04,109.397,0.059,98.293,0.059" />
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                                <g>
                                                </g>
                                           </svg>
                                        </span>
                                        <span class="kt-widget17__subtitle">
                                            Datum zadnje rezervacije
                                        </span>
                                        <span class="kt-widget17__desc">
                                            @if (Model.DatumZadnjeRezervacije != null)
                                            {
                                            @Model.DatumZadnjeRezervacije.Value.ToString("dd.MM.yyyy")
                                            }
                                            else
                                            {
                                               @:Još nemate rezervacija!
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end:: Widgets/Activity-->
            </div>
            <div class="col-lg-6 col-xl-8 order-lg-1 order-xl-1" bis_skin_checked="1">
                <!--begin:: Widgets/Inbound Bandwidth-->
                <!--begin:: Widgets/Profit Share-->
                <div class="kt-portlet kt-portlet--height-fluid" bis_skin_checked="1">
                    <div class="kt-widget14" bis_skin_checked="1" style="padding-top:270px; text-align:center;">
                        <div class="kt-widget14__header" bis_skin_checked="1">
                            <h3 class="kt-widget14__title">Dobrodošli!</h3>
                            <span class="kt-widget14__desc">Dobrodošli na web aplikaciju naše Rent A Car kompanije!</span>
                        </div>

                    </div>
                </div>
                <!--end:: Widgets/Profit Share-->
                <!--end:: Widgets/Inbound Bandwidth-->
                <!--begin:: Widgets/Outbound Bandwidth-->
                <!--end:: Widgets/Outbound Bandwidth-->
            </div>
        </div>
    </div>
    <!-- end:: Content -->