@model RentACar.WebAplikacija.ViewModels.PorukaAdmPoslaneVM
@{
    ViewData["Title"] = "Lista poslanih poruka";
    Layout = "~/Views/Shared/_LayoutTemplateAdmin.cshtml";
    var porukaObrisano = (string)TempData["PorukaObrisano"];
}

@section Scripts
{

    <script type="text/javascript">
        jQuery(document).ready(function () {

            @if (!String.IsNullOrEmpty(porukaObrisano)) {
                @:swal.fire("Obrisano!", "@porukaObrisano", "success");
            };
        });
    </script>

    <script>
        $(document).ready(function () {
            $().ready(function () {

                var p = $("li");

                p.removeClass("kt-menu__item--active");
                p.removeClass("kt-menu__item--here");
                p.removeClass("kt-menu__item--open");

                $("#PorukePoslaneListItem").addClass("kt-menu__item--active");
                $("#PorukaGlavniMeni").addClass("kt-menu__item--open kt-menu__item--here");
                $("#PorukaSporedniMeniDiv").addClass("kt-menu__item--open kt-menu__item--here");

                document.getElementById("PorukaGlavniMeni").style = "";
                document.getElementById("PorukaSporedniMeniDiv").style = "";
            });
        });
    </script>




    <script src="/metronic/themes/metronic/theme/default/demo12/dist/assets/js/pages/crud/metronic-datatable/base/html-table.js" type="text/javascript"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            var NaslovRed = $('[data-field="Statusporuke"] > span')[0];
            NaslovRed.innerHTML = "Primaoc pročitao";

        });

    </script>

    <script>

        otvoriStranicu = function (id) {
            window.location = $('#' + id).attr('href');
        };

        otvoriDijalogZaBrisanje = function (e, id) {

            e.preventDefault();

            swal.fire({
                title: "Da li ste sigurni da želite obrisati poruku?",
                text: "Podaci o poruci se neće moći vratiti nazad!",
                type: "warning",
                showCancelButton: !0,
                confirmButtonText: "Da, obriši!",
                cancelButtonText: "Ne, odustani!",
                reverseButtons: !0
            }).then(function (e) {
                e.value ? otvoriStranicu(id) : "cancel" === e.dismiss && swal.fire("Odustali ste!", "Poruka nije obrisana.", "error")
            })
        };

    </script>
}



<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">


                <span class="kt-subheader__separator kt-hidden"></span>

            </div>

        </div>
    </div>
    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">


        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand fa fa-envelope"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Lista poslanih poruka
                        <small>Pregledajte detalje poslanih poruka</small>
                    </h3>
                </div>

            </div>

            <div class="kt-portlet__body">
                <!--begin: Search Form -->
                <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                    <div class="row align-items-center">
                        <div class="col-xl-8 order-2 order-xl-1">
                            <div class="row align-items-center">
                                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input type="text" class="form-control" placeholder="Pretraži..." id="generalSearch">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-form__group kt-form__group--inline">
                                        <div class="kt-form__label">
                                            <label>Status poruke:</label>
                                        </div>
                                        <div class="kt-form__control">
                                            <select class="form-control bootstrap-select" id="kt_form_status">
                                                <option value="">Odaberite</option>
                                                <option value="0">Nije pročitano</option>
                                                <option value="1">Pročitano</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                    <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-form__group kt-form__group--inline">
                                        <div class="kt-form__label">
                                            <label>Pošiljalac:</label>
                                        </div>
                                        <div class="kt-form__control">
                                            <select class="form-control bootstrap-select" id="kt_form_type">
                                                <option value="">Odaberite</option>
                                                <option value="Uposlenik">Uposlenik</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                -->
                            </div>
                        </div>
                        <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                            <a href="#" class="btn btn-default kt-hidden">
                                <i class="la la-cart-plus"></i> New Order
                            </a>
                            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>
                        </div>
                    </div>
                </div>
                <!--end: Search Form -->
            </div>
            <div class="kt-portlet__body kt-portlet__body--fit">
                <!--begin: Datatable -->
                <table class="kt-datatable" id="html_table" width="100%">
                    <thead>
                        <tr>
                            <th title="Field #1">Poruka ID</th>
                            <th title="Field #2">Ime pošiljaoca</th>
                            <th title="Field #3">Naslov</th>
                            <th title="Field #4">Primaoc</th>
                            <th title="Field #5">Sadržaj</th>
                            <th title="Field #6">Datum poruke</th>
                            <th title="Field #7">Statusporuke</th>
                            <th title="Field #8">Pošiljalac</th>
                            <th title="Field #9">Akcija</th>

                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < @Model.listaPoruka.Count(); i++)
                        {
                            <tr>
                                <td>@Model.listaPoruka[i].PorukaId</td>
                                <td>@Model.listaPoruka[i].PosiljaocInfo</td>
                                <td>@Model.listaPoruka[i].Naslov</td>
                                <td>@Model.listaPoruka[i].PrimaocInfo</td>
                                <td>@Model.listaPoruka[i].Sadrzaj</td>
                                <td>@Model.listaPoruka[i].DatumVrijeme.ToString("yyyy-MM-dd")</td>
                                <td align="right">@(Model.listaPoruka[i].Procitano ? 1 : 0)</td>
                                <td align="right">@(Model.listaPoruka[i].Posiljaoc)</td>

                                <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell">
                                    <span style="overflow: visible; position: relative; width: 110px;">
                                        <div class="dropdown" bis_skin_checked="1">
                                            <a href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown">
                                                <i class="la la-ellipsis-h"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" bis_skin_checked="1">
                                                <a class="dropdown-item" href="/PorukeAdm/PoslaneDetalji?PorukaID=@Model.listaPoruka[i].PorukaId">
                                                    <i class="la la-edit"></i> Detalji
                                                </a>
                                                <a class="dropdown-item" href="/PorukeAdm/ObrisiPoslane?PorukaID=@Model.listaPoruka[i].PorukaId" id="obrisiBtnDropDown@(i)" onclick="otvoriDijalogZaBrisanje(event,'obrisiBtnDropDown@(i)');">
                                                    <i class="la la-trash"></i> Obriši
                                                </a>
                                            </div>
                                        </div>
                                        <a href="/PorukeAdm/PoslaneDetalji?PorukaID=@Model.listaPoruka[i].PorukaId" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Detalji">
                                            <i class="la la-edit"></i>
                                        </a>
                                        <a href="/PorukeAdm/ObrisiPoslane?PorukaID=@Model.listaPoruka[i].PorukaId" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Obriši" id="obrisiBtn@(i)" onclick="otvoriDijalogZaBrisanje(event,'obrisiBtn@(i)');">
                                            <i class="la la-trash"></i>
                                        </a>
                                    </span>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
                <!--end: Datatable -->
            </div>
        </div>
    </div>
    <!-- end:: Content -->
</div>

